@model Jodami.AppWeb.Models.ViewModels.VMTipoFlete

<div class="modal fade" id="EditEntidad-@Model.IdFlete" aria-labelledby="EditEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">   
            <div class="modal-header">
                <h2 class="modal-title">Editar Tipo de Flete</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div> 
            <div class="modal-body">       
                <form asp-action="Editar" method="post" class="needs-validation" novalidate>                    
                    <input type="hidden" asp-for="IdFlete" />
                    <div class="form-group row row-cols-1">
                        <div class="col-sm-6">
                            <label for="Codigo" asp-for="Codigo" class="control-label" style="text-align:left"></label>
                            <input id="Codigo" asp-for="Codigo" class="form-control" autocomplete="off" required maxlength="20" />
                            <div class="invalid-feedback">Símbolo obligatorio</div>
                        </div>                       
                        <div class="col-sm-6">
                            <label for="cboEstado" class="d-flex justify-content-left">Activo (en Check)</label>
                            <div class="form-check d-flex justify-content-left">
                                <input id="cboEstado" class="largerCheckbox" type="checkbox" asp-for="@Model.EsActivo">
                            </div>
                        </div>

                    </div>
                    <div class="form-group row row-cols-1">
                        <div class="col-sm-12">
                            <label for="Descripcion" asp-for="Descripcion" class="control-label" style="text-align:left"></label>
                            <input id="Descripcion" asp-for="Descripcion" class="form-control" autocomplete="off" required maxlength="256" />
                            <div class="invalid-feedback">Descripción obligatorio</div>
                        </div>
                    </div>  
                    <br />                    
                    <div class="modal-footer">                      
                        <button type="submit" class="btn btn-primary"> Guardar</button>
                        <button class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                    </div>
                </form>
                <script src="~/js/validaciones/campos-obligatorios.js"></script>
            </div>
        </div>
    </div>   
</div>