@model FormBasicoModels

<div class="col p-0 bg-info">
    @Html.LabelFor(m=> m.doc)
    @Html.TextBoxFor(m=> m.doc)
</div>

<div class="col p-0 bg-dark">
    @Html.LabelFor(m=> m.nombre)
    @Html.TextBoxFor(m=> m.nombre)
</div>

