@{
    Layout = null;
    string titulo = ViewBag.Titulo;
    string fechaListado = DateTime.Now.ToString("dd/MM/yyyy HH:mm");
}

<!DOCTYPE html>
<html>
    <head> 
        <style>
            body {
                font-family: Arial, Arial, Helvetica, sans-serif;
            }
            table{
                width: 100%;
            }
        </style>        
    </head>
    <body>
    <table border="0">
        <tr>
            <td width="20%">
                <img src="~/iconos/logoJodami.jpg" style="width:90px; height:60px;" />
            </td>
            <td width="60%" align="center" valign="middle">
                <h2>@titulo</h2>
            </td>
            <td width="20%" align="right" valign="middle">
                @fechaListado
            </td>
        </tr>
    </table> 
</body>
</html>