@model Jodami.AppWeb.Rack.RackClase
@{
    ViewBag.Title = "Nuevo Configuración Clases de Racks";
}

<body onload="nobackbutton();">
    <div class="row-fluid" autocomplete="off">
        <h3 class="page-title">Configuración Clases de Racks</h3>
    </div>

    <div id="listado" class="row-fluid">
        <div class="portlet box grey table-custom">
            <div class="portlet-title">

                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span8">
                            <h4><i class="icon-cogs"></i> @ViewData["Accion"] Clases de Racks </h4>
                            <input type="hidden" id="hdnAccion" value=@ViewData["Accion"]>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="rolGrid">
                            <br />

                            @using (Html.BeginForm(ViewData["Accion"].ToString(), "RackClase", FormMethod.Post, new { id = "frmRackClase" }))
                            {

                                <div class="container-fluid">
                                    <div id="form" class="form-horizontal">
                                        <div class="form-body">

                                            <div class="form-group">
                                                <label class="control-label col-md-2" style="text-align: left">Código </label>
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control", placeholder = "Código", required = true, onkeypress = "return SoloNumeros(event)", maxlength = "1", style = "width:80px; text-align: center", autocomplete = "off" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" style="text-align: left">Descripción </label>
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Descripción Clase Rack", required = true, onkeypress = "return soloLetrasyNumeros(event)", maxlength = "50", style = "width:500px; text-align: left", autocomplete = "off" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2"></label>
                                                <div class="col-md-2">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <input type="submit" class="btn btn-success" style="width:90px" value="Grabar" id="btnGrabar" />
                                                    <a href="@Url.Action("Index")" class="btn btn-danger" style="width:90px">Cancelar</a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>




@section scripts {

  @*   <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Areas/RACKS/Scripts/Partial_RackClase.js"></script>
    <script src="assets/js/custom.js"></script> *@

 
    <script src="~/js/partial_rackclase.js"></script>


    <script type="text/javascript">

        function nobackbutton() {
            2
            window.location.hash = "no-back-button";
            3
            window.location.hash = "Again-No-back-button" //chrome
            4
            window.onhashchange = function () { window.location.hash = "no-back-button"; }
            5
        }


    </script>

}




